.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button {
    background-color: #e00000;
    font: inherit;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: #ffff;
    cursor: pointer;
    transition: all .2s;
}

.form-actions button:hover,
.form-actions button:active {
    background-color: #ff0000;
    transform: scale(1.11);
}